.react-flow__handle {
    top: auto;
    width: 40px;
    height: 40px;
    transform: none;
    background-color: transparent;
    align-content: center;
}

.equality-handle {
    width: 26px !important;
    height: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equality-handle-left {
    right: 75.7px !important;
    left: unset !important;
    align-items: end;
}

.equality-handle-right {
    right: -6.5px !important;
    left: unset !important;
    align-items: start;
}

.react-flow__handle-left {
    left: -12px;
}

.react-flow__handle-right {
    right: -26px;
}

.react-flow__handle-top {
    left: -12px;
    top: 0px;
}

.react-flow__handle-top {
    left: unset;
    right: 12px;
    top: calc(50% - 48px); 
    align-items: flex-end;
}

.react-flow__handle-bottom {
    left: unset;
    right: 12px;
    top: calc(50% + 23px);
    align-items: flex-start;
}


.react-flow__panel.center {
    top: auto;
    left: auto;
    transform: auto;
    margin: 0px;
}

.react-flow__node {
    border: solid 2px #00000000;
}

.react-flow__node.selectable:focus {
    box-shadow: 0px 10px 30px gray;
    border-radius: 15px;
    background-color: var(--color-white);
}

.react-flow__handle.valid svg {
    fill: var(--color-green);
}