.react-flow__handle {
    top: auto;
    width: 40px;
    height: 40px;
    transform: none;
    background-color: transparent;
    align-content: center;
}

.equality-handle {
    width: 26px !important;
    height: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative !important;
}

.equality-handle-left {
    order: -1;
    margin-right: -20px;
    right: auto !important;
    left: auto !important;
    align-items: end;
}

.equality-handle-right {
    order: 1;
    margin-left: -20px;
    right: auto !important;
    left: auto !important;
    align-items: start;
}

.swapper-handle {
    width: 26px;
    height: 26px;
    top: -8.5px !important;
}

.swapper-handle-left {
    left: 17px !important;
    right: unset !important;
}

.swapper-handle-right {
    left: unset !important;
    right: 17px !important;
}

.react-flow__handle-left {
    left: -12px;
}

.react-flow__handle-right {
    right: -26px;
}

.react-flow__handle-top {
    left: -12px;
    top: 0px;
}


.react-flow__panel.center {
    top: auto;
    left: auto;
    transform: auto;
    margin: 0px;
}

.react-flow__node {
    border: solid 2px #00000000;
}

.react-flow__node.selectable:focus {
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.react-flow__node.selected::before {
    content: '';
    position: absolute;
    inset: -8px;
    border-radius: 15px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.react-flow__handle.valid svg {
    fill: var(--color-green);
}